@use 'reuso'
@use 'anima'
@use 'var'
@import 'https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap'
@import 'color-buttons'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
html
  background: rgb(0,123,255)
  background: linear-gradient(40deg, #125eb0e0 0%, #7e3aa6bb 40%, #4949b0c4 100%) fixed
  min-height: 100%
  height: 100%
  body
    @include reuso.flex(flex,center,flex-start)
    width: 100%
    max-width: 100%
    min-height: 100%
    position: relative
    .conteudo-anima
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: hidden
      .block
        opacity: 0.4
        position: absolute
        top: 50%
        left: 50%
        width: 100px
        height: 100px
        background: #826ce46c
        box-shadow: 2px 2px 7px #00000027
    header
      max-width: 900px
      width: 100%
      border-radius: 0 0 50px 50px
      overflow: hidden
      margin-bottom: 50px
      border-radius: 0 0 10px 10px !important
      > div:first-child
        width: 100%
        height: 180px
        background: url(../img/background.jpg) top/cover no-repeat
        @include reuso.flex(flex,center,center)
        flex-flow: row wrap
        position: relative
        &::after
          content: ''
          width: 100%
          height: 100%
          background: var.$color-white-10
          position: absolute
        > div:first-child
          z-index: 2
          margin: 60px 0 20px 0
          width: 180px
          height: 180px
          border-radius: 50%
          border: 5px solid var.$color-blue-1
          box-shadow: 0 5px 20px 5px var.$color-black-20
          background: url(../img/foto-perfil.jpg) center/cover no-repeat
          overflow: hidden
          position: relative
          &::after
            top: -20px
            left: -100px
            content: ''
            width: 50px
            height: 200px
            background: #ffffff27
            display: block
            position: absolute
            transform: skew(-30deg, 0deg)
            filter: blur(10px)
            animation: fade 4s ease-out infinite
      > h2
        text-align: center
        stroke: black
        font-size: 40px
        margin-top: 80px
        background: rgba(18,94,176,1)
        background: linear-gradient(40deg, #290050fa 0%, #965bb8 90%, #ffffff 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        &::before
          content: '\003C'
          padding-right: 10px
        &::after
          content: '\002F \003E'
          padding-left: 10px
      > p
        margin-top: 1
        text-align: center
        font-size: 16pt
        color: var.$color-white
        padding: 10px
        &::after
          padding: 0 0 0 5px
          font-size: 25px
          content: '|'
          opacity: 0
          animation: pisca .7s infinite
      nav
        @include reuso.flex(flex,center,center)
        border-radius: 8px
        margin-top: 30px
        ul
          list-style: none
          @include reuso.flex(flex,center,center)
          li
            a
              background: #ffffff33
              font: 15px 'Roboto'
              display: block
              padding: 10px 20px 5px 20px
              color: #ffffff
              text-decoration: none
              margin: 0 3px
              border-radius: 10px 10px 0 0
              position: relative
              overflow: hidden
              &:hover
                color: var.$color-white
              &::after
                content: ''
                opacity: 0
                transition: .5s
                left: 0
                top: 0
                z-index: -1
                width: 0
                background: rgb(18,94,176)
                background: linear-gradient(90deg, rgba(18,94,176,1) 0%, rgba(124,0,255,1) 100%)
              &:hover::after
                position: absolute
                width: 100%
                height: 50px
                opacity: 0.5
      section
        display: none
        padding: 0 5px
        &.d-block
          display: block
        >div
          padding: 30px 15px
          max-width: 800px
          margin: 0 auto
          h2
            padding: 10px 0
      //Menu Midia 
      >div:last-child
        @include reuso.flex(flex,center,center)
        flex-flow: column nowrap
        margin: 30px auto
        ul
          list-style: none
          @include reuso.flex(flex,center,center)
          width: 100%
          li
            position: relative
            font-family: 'Roboto'
            a
              text-decoration: none
              display: block
              width: 50px
              height: 50px
              border-radius: 50%
              z-index: 200
              position: relative
              margin: 2px
              transition: filter 7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
              &:hover
                filter: grayscale(0.5)
              i
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%,-50%)
              &:hover + span
                opacity: 1
                top: -55px
                z-index: 10
              + span
                position: absolute
                font-size: 10pt
                left: 50%
                transform: translate(-50%)
                opacity: 0
                cursor: pointer
                padding: 5px 10px
                border-radius: 3px
                top: 0
                transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
                z-index: 0
                &::after
                  content: ''
                  width: 10px
                  height: 10px
                  position: absolute
                  top: calc( 100% - 7px )
                  z-index: -30
                  left: 50%
                  transform: translate(-50%) scale(1.1) rotate(45deg)
