@import 'https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap';
@keyframes pisca {
  to {
    opacity: 1;
  }
}
[data-color],
[data-color]:hover {
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2392156863));
  color: #fff;
  text-transform: uppercase;
}

[data-color=linkedin],
[data-color=linkedin]::after {
  background: #0a66c2;
}

[data-color=instagram],
[data-color=instagram]::after {
  background: #a03895;
}

[data-color=gmail],
[data-color=gmail]::after {
  background: #2d9248;
}

[data-color=github],
[data-color=github]::after {
  background: #1f1f1f;
}

.active {
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: #6589aa;
}

#projects, #skill, #home {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #d4ebff;
  min-height: 100%;
}
html body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 100%;
}
html body header {
  max-width: 700px;
  width: 100%;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 5px 80px 0px rgba(0, 0, 0, 0.5333333333);
  overflow: hidden;
  margin-bottom: 50px;
}
html body header > div:first-child {
  width: 100%;
  height: 180px;
  background: url(../img/background.jpg) top/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  position: relative;
}
html body header > div:first-child::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1019607843);
  position: absolute;
}
html body header > div:first-child > div:first-child {
  z-index: 2;
  margin: 60px 0 20px 0;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid #cbe6ec;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3843137255);
  background: url(../img/foto-perfil.jpg) center/cover no-repeat;
}
html body header > h2 {
  max-width: 350px;
  padding: 10px;
  margin: 70px auto 10px auto;
  font: bolder 25pt "Roboto", sans-serif;
  color: #a5c7e7;
  text-align: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 10px 3px 0px rgba(0, 0, 0, 0.0352941176);
  background: transparent;
}
html body header > h2::before {
  content: "<";
  padding-right: 10px;
}
html body header > h2::after {
  content: "/>";
  padding-left: 10px;
}
html body header > p {
  margin-top: 1;
  text-align: center;
  font: 15pt "Roboto", sans-serif;
  padding: 10px;
}
html body header > p::after {
  padding: 0 0 0 5px;
  font-size: 25px;
  content: "|";
  opacity: 0;
  animation: pisca 0.7s infinite;
}
html body header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 5px 0 0 10px;
  border-radius: 8px;
}
html body header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body header nav ul li a {
  background: #ccc;
  font: 15px "Roboto";
  display: block;
  padding: 10px 20px 5px 20px;
  color: #000;
  text-decoration: none;
  margin: 0 3px;
  border-radius: 10px 10px 0 0;
}
html body header section {
  display: none;
  padding: 0 5px;
}
html body header section.d-block {
  display: block;
}
html body header section > div {
  border-radius: 5px;
  background-color: #8ea6bd;
  padding: 30px 15px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3490196078);
  font: 12pt "Roboto";
}
html body header section > div h2 {
  padding: 10px 0;
}
html body header > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 30px auto;
}
html body header > div:last-child ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
html body header > div:last-child ul li {
  position: relative;
  font-family: "Roboto";
}
html body header > div:last-child ul li a {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 200;
  position: relative;
  margin: 2px;
  transition: filter 7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
html body header > div:last-child ul li a:hover {
  filter: grayscale(0.5);
}
html body header > div:last-child ul li a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body header > div:last-child ul li a:hover + span {
  opacity: 1;
  top: -55px;
  z-index: 10;
}
html body header > div:last-child ul li a + span {
  position: absolute;
  font-size: 10pt;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  top: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 0;
}
html body header > div:last-child ul li a + span::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(100% - 7px);
  z-index: -30;
  left: 50%;
  transform: translate(-50%) scale(1.1) rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
